:root {
    background: #eaeef7;
}

body {
    background: #eaeef7 !important;
}

.css-zxdg2z {
    margin: 0 !important;
    padding: 0 !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    border-width: 0;
}

.css-hyum1k-MuiToolbar-root {
    background: #eaeef7 !important;
    min-height: 50px !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: rgb(1 8 70 / 87%);
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
    opacity: 1;
    color: rgb(1 8 70 / 87%);
}

.rdrWeekDay{
    color: #2b3674 !important;
    font-size: 8px !important;
    font-weight: bold !important;
   
}
.rdrCalendarWrapper{
    color: #2b3674 !important;
    font-size: 10px !important; 
    justify-content: center !important; 
    align-items: center !important;
}

.rdrDateDisplayWrapper {
   
    display: none !important;
}


.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar{
    color:#2b3674;
    background-color: #eaeef7;
    height: 20px;
    width: 20px;
    font-size: 0.6rem;
}