:root {
    background: #eaeef7; 
}


body {
    background: #eaeef7 !important;
}

.css-zxdg2z {
    margin: 0 !important;
    padding: 0 !important;
}

.css-cc01sb{
    background-color: #eaeef7;
}
.css-6mgzp0{
    background-color: #eaeef7; 
}

.css-rfuczr{
    height: 20px;
    width: 20px;
    font-size: 0.5rem;
    background-color: #A3AED0;
    color: #2b3674;
    border-radius: 50%;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    border-width: 0;
}

.css-hyum1k-MuiToolbar-root {
    background: #eaeef7 !important;
    min-height: 50px !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: rgb(1 8 70 / 87%);
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
    opacity: 1;
    color: rgb(1 8 70 / 87%);
}

.rdrWeekDay{
    color: #2b3674 !important;
    font-size: 8px !important;
    font-weight: bold !important;
   
}
.rdrCalendarWrapper{
    color: #2b3674 !important;
    font-size: 10px !important; 
    justify-content: center !important; 
    align-items: center !important;
    display: unset !important;
}

.rdrDateDisplayWrapper {
   
    display: none !important;
}


.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar{
    color:#2b3674;
    background-color: #eaeef7;
    height: 20px;
    width: 20px;
    font-size: 0.6rem;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height: 0.2em;
    border:none; 
    border-radius: 50% !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.2em;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root:hover {
    background: none !important;
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover {
    background: none !important;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    color:#A3AED0 !important;
    background: #eaeef7 !important;
    font-size:x-small;
}
.css-1f5y6oa-MuiButtonBase-root-MuiIconButton-root:hover {
    background: none !important;
}
.css-kf45sl-MuiButtonBase-root-MuiIconButton-root:hover{
    background: none !important;
}

.rdrNextPrevButton  {
    display:none !important;
}





