:root {
    background: #eaeef7;
    display: flex;
}

body {
    background: #eaeef7 !important;
}

.css-zxdg2z {
    margin: 0 !important;
    padding: 0 !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    border-width: 0;
}

.css-hyum1k-MuiToolbar-root {
    background: #eaeef7 !important;
    min-height: 50px !important;
}